body {
    background-color: #FFFFE0; /* light yellow */
    font-family: 'Roboto', sans-serif; /* Changed font */
}

nav {
    background-color: #004080; /* dark blue */
    padding: 0rem calc((100vw - 1300px) / 2);
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between; 
}

.logo {
    color: #FFE066; /* light yellow */
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 40px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
}

nav a {
    text-decoration: underline;
    color: #FFE066; /* light yellow */
    padding: 0 1.5rem;
}

nav a:hover {
    color: #FFFFFF; /* white */
}

.hero {
    background: #0059b3; /* medium blue */
    padding-top: 20px; /* Add padding to bring the hero section down a bit */
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start (top) */
    align-items: flex-start;
    color: #FFE066; /* light yellow */
    padding: 2rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem; /* Increase font size slightly */
}

.column-left p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem; /* Increase font size slightly */
    line-height: 1.5;
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap */
    gap: 10px; /* Add gap between buttons */
    justify-content: flex-start; /* Align buttons to the start (top) */
}

button {
    background-color: #004080; /* dark blue */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00264d; /* darker blue on hover */
}

.column-right {
    display: none; /* Hide the right column since we moved the image */
}

.hero-image {
    width: 50px; /* Adjust size as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}
