body {
    background-color: #003366; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #004080;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFE066;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.nav-items {
    display: flex;
}

.nav-items a {
    text-decoration: none;
    color: #FFE066; 
    padding: 0 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-items a:hover {
    color: #FFFFFF; 
}

.dropdown {
    text-align: center;
    margin-right: 20px; 
}

.dropdown label {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #ffe066; 
}

.dropdown select {
    padding: 10px;
    font-size: 1rem;
}

.hero {
    background-color: #0059b3; 
    padding: 40px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.column-left {
    text-align: center;
    color: #FFFFFF; 
    margin-bottom: 40px;
}

.column-left h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.column-left p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.button-container button {
    display: inline-block;
    text-decoration: none;
    background-color: #004080; 
    color: #FFFFFF; 
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #00264d; 
}

.dropdown-content {
    display: none;
    margin-top: 10px;
}

.dropdown-content select {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
}

.dropdown-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #00264d;
}
